<!DOCTYPE html>
<html ng-app="lottery">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>N3rDs Lotterie</title>
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/lodash/lodash.js" type="text/javascript"></script>
    <script src="lottery.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="crap.css"/>
</head>
<body ng-controller="LotteryController" keypress-events>
<table>
    <tbody>
    <tr ng-repeat="p in participants">
        <td>
            <input type="checkbox" ng-model="p.active" ng-disabled="closed">
        </td>
        <td>
            {{ p.name }}
        </td>
    </tr>
    </tbody>
</table>
<form ng-submit="addParticipant()">
    <input type="text" ng-model="newParticipant" ng-disabled="closed" autofocus placeholder="neuer Teilnehmer">
    <input type="submit" value="Hinzufügen" ng-disabled="closed">
</form>
<input type="button" value="Jetzt auslosen" ng-click="draw()" ng-disabled="closed">

<div ng-show="closed">
    <h3>
        Der Gewinner ist: {{ winner }}
    </h3>
</div>
</body>
</html>